h2 {
    text-align: center;
    margin: 2vh 0;
}

#grid-search button {
    width: 10rem;
    margin: 3vh;
}

 #grid-search form {
    width: 70%;
    margin:2vh auto 2vh auto;
    text-align: center;
} 
  
#grid-search .mat-form-field {
    width: 40%;
}


