<div class="container-ranking">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Most active users
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="container-grid">
                <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-material"
                    [rowData]="rowDataRankingUser" [columnDefs]="columnDefsRankingUser">
                </ag-grid-angular>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    last 5 repos searches
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="container-grid">
                <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-material"
                    [columnDefs]="columnDefsRankingReps" [defaultColDef]="defaultRankingRepsColDef" [rowData]="rowDataRankingReps"
                    (gridReady)="onGridRankingRepReady($event)"
                    >
                </ag-grid-angular>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <h2> </h2>

</div>